.upcoming {
  h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 8px 0px;
  }
  .upcomingMovies {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .coming {
      max-width: 310px;
      margin-bottom: 20px;
      span {
        font-size: 16px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        font-size: 13px;
        color: lightgray;
        margin: 4px 0px;
      }
    }
  }
}
