.singleSeries {
  background-color: var(--main-color);
  color: white;
  .seriesDetails {
    padding: 100px 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }
}
